.finance-card {
  background: rgb(189,0,193);
  background: linear-gradient(168deg, rgba(189,0,193,1) 0%, rgba(55,9,121,1) 100%);
}

.member-card {
  background: rgb(8,0,193);
  background: linear-gradient(333deg, rgba(8,0,193,1) 17%, rgba(0,213,255,1) 100%);
}
