<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Reise
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Reise</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card *ngFor="let trip of trips | async">
    <ion-card-header>
      <ion-card-title>{{trip.name}}</ion-card-title>
      <ion-card-subtitle>{{trip.start.toDate() | date:'dd-MM-yyyy'}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
</ion-content>
