<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Reise
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Reise</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card *ngFor="let trip of user.trips | async">
    <ion-card-header>
      <ion-card-subtitle>{{trip.startdate.toDate() | date:'yyyy/MM/dd'}}</ion-card-subtitle>
      <ion-card-title>{{trip.name}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  <ul>
    <li *ngFor="let trip of trips | async">
      {{trip.name}}
    </li>
  </ul>
  <ion-text>
  </ion-text>
</ion-content>