<ion-card>
  <ion-card-header>
    <ion-card-title>Login</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <form>
      <ion-grid>
        <ion-row>
          <ion-col size-md="6" size-lg="5" size-xs="12">
            <div>
              <h2>Melde dich an.</h2>
            </div>
            <div>
              <ion-item>
                <ion-input [(ngModel)]="email" minlength="6" name="email" type="email" placeholder="Email-Adresse" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input [(ngModel)]="password" name="password" type="password" placeholder="Passwort" required></ion-input>
              </ion-item>
            </div>
            <div>
              <ion-button (click)="login()">Anmelden</ion-button>
            </div>
            <div *ngIf="showValidation">
              <p>Login fehlgeschlagen.</p>
            </div>
            <div>
              <a href="./register">Jetzt registrieren.</a>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-card-content>
</ion-card>
