<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Benutzerprofil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title>
  </ion-title>

  <ion-card class="trip-card">
    <ion-card-header>
      <ion-card-title color="light">
        Profil
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-card-header>Dein Benutzername</ion-card-header>
      <ion-card class="username-card">
        <ion-item>
          Benutzername
        </ion-item>
      </ion-card>
      <ion-card-header>Deine Reisen</ion-card-header>
      <ion-card class="trip-card">
        <ion-item>
          Reisen
        </ion-item>
      </ion-card>
    </ion-card-content>
  </ion-card>

</ion-content>
