<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Benutzerprofil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title>
  </ion-title>

  <ion-card class="trip-card">
    <ion-card-header>
      <ion-card-title color="light">
        Profil
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-label>Benutzername</ion-label>
      <ion-item>
        {{(user | async)?.username}}
      </ion-item>
      <br>
      <ion-label>Email</ion-label>
      <ion-item>
        {{email}}
      </ion-item>
      <ion-card-header>Deine Reisen</ion-card-header>
      <ion-card *ngFor="let trip of trips | async" class="trip-card">
        <ion-card-content (click)="showTripDetails(trip)">
          <ion-card-title class="ion-margin-top">{{trip.name}}</ion-card-title>
          <ion-card-subtitle>{{trip.start.toDate() | date: 'dd.MM.yyyy'}}</ion-card-subtitle>
          <ion-item class="ion-no-padding" color="transparent" lines="none">
            <ion-icon slot="start" name="people-outline"></ion-icon>
            <ion-label>Mitglieder</ion-label>
            <ion-badge color="medium" slot="end">{{trip.participants.length}}</ion-badge>
          </ion-item>
        </ion-card-content>
      </ion-card>
      <ion-button (click)="logout()">Abmelden</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>

