<ion-card>
  <ion-card-header>
    <ion-card-title>Register</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <form>
      <ion-grid>
        <ion-row>
          <ion-col size-md="6" size-lg="5" size-xs="12">
            <div>
              <h2>Registriere dich jetzt.</h2>
            </div>
            <div>
              <ion-item>
                <ion-input name="username" type="username" placeholder="Benutzername" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input name="email" type="email" placeholder="Email-Adresse" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input name="password" type="password" placeholder="Passwort" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input name="confirm" type="password" placeholder="Passwort wiederholen" required></ion-input>
              </ion-item>
            </div>
            <div>
              <ion-button type="submit" expand="block">Register</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-card-content>
</ion-card>
